doctype html
html
	head
		include includes/_head.pug
		title Giriş - Modül Mesaj Uygulaması

	body
		section.material-half-bg
			.cover

		section.login-content
			.logo: h1 Modül Mesaj Uygulaması

			.login-box
				form.login-form(action="/login", method="POST")
					h3.login-head
						i.fa.fa-lg.fa-fw.fa-user
						| GİRİŞ
					.form-group
						label.control-label EMAIL
						input#username.form-control(type="text" placeholder='gauss' name="username" autofocus)

					.form-group
						label.control-label ŞİFRE
						input#password.form-control(type="password" placeholder='password' name="password")

					.form-group
						.utility
							.animated-checkbox
								label
									input(type="checkbox")
									span.label-text Beni Hatırla
							p.semibold-text.mb-2
								a(href="#" data-toggle="flip") Şifremi Unuttum ?

					.form-group.btn-container
						button.btn.btn-primary.btn-block(type='submit')
							i.fa.fa-sign-in.fa-lg.fa-fw
							| Giriş

				form.forget-form(action="/")
					h3.login-head
						i.fa.fa-lg.fa-fw.fa-lock
						| Şifremi Unuttum ?
					.form-group
						label.control-label EMAIL
						input.form-control(type="text", placeholder="Email")

					.form-group.btn-container
						button.btn.btn-primary.btn-block
							i.fa.fa-unlock.fa-lg.fa-fw
							| RESET

					.form-group.mt-3
						p.semibold-text.mb-0
							a(href="#" data-toggle="flip") <i class="fa fa-angle-left fa-fw"></i> Girişe Dön

		include includes/_javascript.pug

		script(type="text/javascript").
			// Login Page Flipbox control
			$('.login-content [data-toggle="flip"]').click(function() {
				$('.login-box').toggleClass('flipped');
				return false;
			});
